EXPERT=yes
BOARD=orangepi5-plus
BRANCH=edge
RELEASE=noble
KERNEL_CONFIGURE=no
KERNEL_KEEP_CONFIG=no
KERNEL_GIT=full
BUILD_DESKTOP=yes
INSTALL_HEADERS=yes
DESKTOP_APPGROUPS_SELECTED='browsers chat desktop_tools editors email internet multimedia office programming remote_desktop'
DESKTOP_ENVIRONMENT=cinnamon
DESKTOP_ENVIRONMENT_CONFIG_NAME=config_base
DISABLE_IPV6=false
ROOTFS_TYPE=btrfs
BTRFS_COMPRESSION=zstd:7
EXTRAWIFI=yes
EXT=mesa-vpu,xrdp,cloud-init,rtl8852be-fix
BUILD_KSRC=yes
INSTALL_KSRC=yes
