[Unit]
Description=Reload RTL8852BE
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/env /usr/lib/scripts/rtw89-mgr reload --install-dir /usr/local/src --module-name rtw_8852be
StandardOutput=journal

[Install]
WantedBy=multi-user.target
